.Homeapp {
  text-align: center;
}

.Coverflow {
  margin-top: 110px;
}

.button {
  background-color: white;
  outline: thick ridge black;
  padding: 22px 110px;
  font-size: 20px;
}

.videoTag {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
