.Accountlogin {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 150px;
  display: flex;
  justify-content: space-around;
  outline-style: solid;
  padding: 10px;
}

.Accountlogin a {
  display: inline-flex;
  font-size: 15px;
  color: white;
  text-decoration: none;
}
