.openModal {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: white;
  outline: thick ridge black;
  padding: 20px 40px;
  font-size: 20px;
}

.Jobtimeline {
  position: absolute;
  top: 40px;
  left: 250px;
  right: 250px;
  bottom: 500px;
  border: 3px solid #000;
  background: #fff;
  overflow: auto;
  border-radius: 20px;
  outline: none;
  padding-top: 10px;
  padding-left: 20px;
}

.Jobinformation {
  position: absolute;
  top: 475px;
  left: 250px;
  right: 250px;
  bottom: 35px;
  border: 3px solid #000;
  background: #fff;
  /* overflow: auto; */
  border-radius: 20px;
  outline: none;
  padding-top: 10px;
  padding-left: 20px;
}

.Checkboxes {
  display: inline-block;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}
