.Sidebar {
  height: 88%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 65px; /* Stay at the top */
  left: 30px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  outline-style: solid;
  text-align: left;
}

/* The navigation menu links */
.Sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: grey;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.Sidebar a:hover {
  color: hotpink;
}

/* Style page content */
.main {
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .Sidebar {
    padding-top: 15px;
  }
  .Sidebar a {
    font-size: 18px;
  }
}

.Meetupapp {
  margin-top: -65px;
  background: url(https://thumbs.gfycat.com/ImpoliteConfusedAmericanmarten-size_restricted.gif)
    no-repeat center center fixed;
  background-size: cover;
  height: 120vmax;
  margin-left: -1px;
  margin-right: -8px;
}
